<!DOCTYPE html>


    {% load static %}

    <title>Nuclear Reactor Sim</title>
    
    {% csrf_token %}
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static "reactor_sim/styles.css" %}"> {% endcomment %}

{% comment %} <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScagDrqwx5o3HhLwanSQAmI0XXsQtkwjb_ai_mfS5yA8aQF1Q/viewform?embedded=true" width="640" height="2201" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> {% endcomment %}

