{% load static %} 
<div class="modal-dialog" role="document" >
    <div class="modal-content"  style="width: 150%">
        <div class="modal-header" >
            <h2 class="modal-title" >{{ k_msg }}</h2>
        </div>
        <div id="imageContainer" class='rounded text-center'>
            <img src="{% static fast_plot_path %}" alt="Could not load plot." style="border: 0px; outline: none" />
            <img src="{% static thermal_plot_path %}" alt="Could not load plot." style="border: 0px; outline: none" />
        </div>  
    </div>



</div>

